<mat-sidenav-container class="sidenav-container bg-transparent" autosize [hasBackdrop]="false">
    <mat-sidenav class="p-4" 
                [opened]="isOpen"
                (openedChange)="isOpenChange.emit($event)"
                [mode]="mode"
                role="navigation">
        <div class="flex flex-col gap-4 text-left">
            <div class="block sm:hidden">
                <div class="justify-between items-center flex">
                    <span class="ml-2 text-lg font-bold">InvestmentApp</span>
                    <button mat-button class="small-btn" (click)="toggleSidenav.emit()">
                        <mat-icon>close</mat-icon>
                      </button>
                </div>
            </div>
            <button mat-flat-button 
                    routerLink="/home"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    color="accent">
                <mat-icon>home</mat-icon>
                Home
              </button>
            <button mat-flat-button
                    routerLink="/dashboard"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    color="accent">
                <mat-icon>dashboard</mat-icon>
                    Dashboard
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="example-sidenav-content">
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
