@import '../../../styles.scss';

.cstm-container {
    background-color: $custom-primary-fix;
}

.user-info{
    border-bottom: 1px solid $custom-primary-darker;
}

#prof-placeholder {
    transform: scale(5);
}